.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.item {
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.link {
  display: flex;
  flex-direction: column;
  color: #888888;

  &:hover,
  :focus {
    color: #000000;
  }
}
